<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">grow your bussiness with us</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="\images\about.svg" alt="aboutsection_image">
          </figure>
        </div>
        {{!-- right side --}}
        <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
          <h1>WE ARE THE PROFESSIONAL CONSULTANTS✌️</h1>

          <p>We are a team of <span class="bold-style">Professional Consultants</span> who help businesses
            achieve their goals. We have a wealth of experience in a variety of industries, and we are
            passionate about helping businesses succeed. We offer a wide range of services,
            including business consulting, IT consulting, and marketing consulting.
            We work with businesses of all sizes, and we are always looking for new ways to help our
            clients succeed.</p>
          <button class="btn-style btn-primary">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
